/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* A Modern CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/ */

:root {
  --main-background: #e2e8f0;
  --nav-background: #1992d4;
  --white-color: #f5f5f5;
  --hover-color: #cbd5e1;
  --nav-item-font-size: 1.4rem;
  --nav-icon-size: 2.25rem;
}

body {
  display: grid;
  grid-template-columns: 300px 2fr min(30%, 400px);
  grid-template-rows: auto 1fr;
  grid-template-areas: 
      "nav header header"
      "nav main aside";

  height: 100dvh;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

svg {
  fill: var(--white-color);
}

nav {
  grid-area: nav;

  display: grid;
  grid-template-rows: auto 1fr auto 5fr auto;
  grid-template-areas:
    "logo"
    "."
    "nav-links"
    "."
    "nav-settings";

  height: 100%;
  padding: 1rem;

  background-color: var(--nav-background);
}

nav .logo {
  grid-area: logo;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo svg {
  width: 60px;
  height: auto;
}

.logo .title {
  color: var(--white-color);
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
}

.logo .title span {
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 1000;
}

nav .nav-links {
  grid-area: nav-links;
}

.nav-links ul, .nav-settings ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-left: 15px;
}

.nav-links li, .nav-settings li {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: var(--nav-item-font-size);
  font-family: monospace;
  color: var(--white-color);
  list-style: none;
}

.nav-links li:hover,
.nav-settings li:hover {
    color: var(--hover-color);

    svg {
      fill: var(--hover-color);
    }
  }


.nav-links svg, .nav-settings svg {
  width: var(--nav-icon-size);
  height: auto;
}

nav .nav-settings {
  grid-area: nav-settings;
}

header {
  grid-area: header;
}

header .search {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}

.search .search-input {
  width: 100%;
  height: 2.5rem;
  
  background: var(--main-background);
  border: none;
  border-radius: 1.5rem;
  padding: 0 3.5rem 0 1.5rem;
  outline: none;
}

.search .search-submit {
  margin-left: -3.5rem;
  
  background: none;
  border: none;
  cursor: pointer;
}

main {
  grid-area: main;
  background-color: var(--main-background);
}

aside {
  grid-area: aside;
  background-color: var(--main-background);
}