:root {
  --bg: #c6c3be;
  --device-color: #bbb5ac;
  --device-edge: #7e736f;
  --device-reflect: #fef8f1;

  --accent: #526342;

  --display-color: #060606;
  --glow-a: #00a292;
  --glow-b: #3db6cb;

  --button-color: #282828;
  --button-print: #e3d7c5;
  --button-edge1:#343a3c;
  --button-edge2:#373737;

  --equal-button:#425d80;
  --clear-button:#6f281a;
}

@font-face {
  font-family: 'DepartureMono';
  src: 
    url(/fonts/DepartureMono-1.500/DepartureMono-Regular.woff2),
    url(/fonts/DepartureMono-1.500/DepartureMono-Regular.woff),
    url(/fonts/DepartureMono-1.500/DepartureMono-Regular.otf);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100dvh;
  margin: 0;
  font-family: "DepartureMono", "WDXL Lubrifont SC", Times, serif;
  font-size: 11px;
  background: var(--bg);
}

.device {
  width: 380px;
  padding: 32px 24px 40px;

  background: var(--device-color);
  border-radius: 8px;
  box-shadow: 
    0 3px 2px var(--device-color),
    0 16px 40px #97928b,
    0 32px var(--device-edge),
    8px 24px 12px #97867e,
    24px -8px 40px #937a6e,
    -10px 24px 40px var(--device-reflect);
}

.brand {
  display: flex;
  justify-content: space-between;
  align-items: end;

  margin: 8px 0 14px;

  color: var(--accent);
}

.brand .brandModel {
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 0.04em;
}

.display {
  display: grid;

  padding: 18px;
  border: inset #d6cfc5;
  border-radius: 8px;

  text-align: right;
  background: #222c3a;
  background: var(--display-color);
}

.display #displayText {
  justify-self: end;

  min-height: 40px;
  color: #ecf7ff;
  font-size: 33px;
  text-shadow: 
    0 0 4.8px var(--glow-a),
    0 0 4.8px var(--glow-b);
}

.controlPad {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}

.digitsButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.operatorButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

button {
  width: 65px;
  height: 58px;

  font-size: 40px;
  color: var(--button-print);
  background: var(--button-color);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 
    0 0.8px 0.8px var(--button-edge1),
    0 3.6px 7.2px var(--button-edge2),
    0 7.2px var(--display-color),
    0 9px #000,
    7.2px 8.4px 12px #77624d;
}

button:active {
  transform: translateY(3.6px);
  box-shadow: 
    0 1.2px 1.2px var(--button-edge1),
    0 2.4px 3.6px var(--button-edge2),
    0 3.6px var(--display-color),
    0 4.8px #000,
    3.6px 3.6px 6px #77624d;
}

button.equalButton {
  flex: 0 1 138px;
}
