:root {
    --background-color: #EAE6D5;
    --accent-color: #596D48;

    --text-color: white;
    --input-border: #E5E7EB;
    --input-error: red;

    --text-padding-side: clamp(1rem, 4vw, 3rem);
}

@font-face {
  font-family: DepartureMono;
  src:
    url("../../shared/fonts/DepartureMono-1.500/DepartureMono-Regular.woff2"),
    url("../../shared/fonts/DepartureMono-1.500/DepartureMono-Regular.woff"),
    url("../../shared/fonts/DepartureMono-1.500/DepartureMono-Regular.otf");
}

body {
    display: flex;
    
    height: 100dvh;
    margin: 0;

    font-size: clamp(1rem, 1.5vw, 1.2rem);
    background-color: var(--background-color);
}

.image-sidebar {
    flex: 2;

    background-image: url(./assets/FoliagePlant.jpg);
    background-size: cover;
    background-position: center;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    margin-top: 14vh;
    padding: 1rem;
    
    font-family: monospace;
    color: var(--text-color);
    font-size: clamp(2rem, 8vw, 7rem);
    background: rgb(0, 0, 0, 50%);
}

.logo img {
    height: 20vh;
    width: auto;
}

.content {
    flex: 3;

    display: flex;
    flex-direction: column;
    
    font-family: DepartureMono, monospace;
}

.content .text {
    padding: var(--text-padding-side);

}

span {
    font-style: italic;
}

fieldset {
    padding: 0 var(--text-padding-side) 1rem;
    
    background-color: var(--text-color);
    border: none;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
}

.input-container div {
    flex: 1 1 25%;

    display: flex;
    gap: 0.5rem;
    flex-direction: column;

    margin: 1rem;
}

input {
    font-family: DepartureMono, monospace;
    font-size: 1.2rem;
    border: none;
    border-bottom: 2px solid var(--input-border);
}

input[type="email"]:user-invalid,
input[type="password"]:invalid {
    border-bottom: 2px solid var(--input-error);
}

input:focus {
    outline: none;
    border-bottom: 2px solid var(--accent-color);
}

button {
    margin: 2rem var(--text-padding-side) 0;
    padding: 10px 30px;

    font-family: DepartureMono, monospace;
    font-size: 1.1rem;
    font-weight: 600;

    color: var(--text-color);
    background: var(--accent-color);
    border: none;
    border-radius: 6px;
}

button:hover,
button:focus-visible {
    opacity: 0.9;
    cursor: pointer;
}

button:active {
    box-shadow: 0 0 8px var(--accent-color);
}

.link {
    margin: 1rem var(--text-padding-side);
}

a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bolder;
}

@media (max-width: 1090px) {
    body {
        flex-direction: column;
    }

    .logo {
        margin: 5vh auto;
    }
}