<div class="body">
  <div class="tooltip">
    <h1>Expanding Cards</h1>
    <span class="tooltiptext">Just click on a panel!</span>
  </div>
  
  <div class="container">
    <div class="panel" style="background-color: red;">
              <h2>Rot</h2>
          </div>
    <div class="panel" style="background-color: orange;">
              <h2>Orange</h2>
          </div>
    <div class="panel" style="background-color: yellowgreen;">
              <h2>Gelbgrün</h2>
          </div>
    <div class="panel" style="background-color: green;">
              <h2>Grün</h2>
          </div>
    <div class="panel" style="background-color: blue;">
              <h2>Blau</h2>
          </div>
    <div class="panel" style="background-color: darkmagenta;">
              <h2>Violett</h2>
          </div>
  </div>
</div>